<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/home/myUrl" class="btn btn-success col-md-offset-6">My Url</a>
        }
        <br />
        <input type="text" class="form-control url" placeholder="Url" name="url" />
        <br />

        <button class="btn btn-primary shorten">Shorten</button>

    </div>
</div>

@section scripts
    {
    <script src="/js/index.js"></script>
}
